
.container1 {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 
    
}
   .textColor {
    color: white;
}
.homeContainer {
    text-align: center;

}

